.mat-button, .mat-raised-button{
  background-color: #3dbbd7;
  font-size: 14px;
  text-align: center;
  text-decoration:none;
  font-weight: bold;

  margin: 1em 0em 1em 1em;
}

.saveColor{
  background-color: #08bd4b;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cur {
  cursor:pointer
}
