<div>
  <div class="container well">
    <div class="col-sm-12" id="form-test">
      <form [formGroup]="signupForm" (ngSubmit)="saveGroup()">
        <ul class="col-sm-6 form-group" id="UL_left_column">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label> Group Name:</label>
              <input type="text" class="form-control input-sm" formControlName="groupInfo"/>
            </div>

            <div class="col-sm-6 form-group">
              <label> Site for Name:</label>
              <input type="text" class="form-control input-sm" formControlName="nameForSite"/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 ">
              <label>Status:</label>
              <select class="form-control input-sm" formControlName="academyStageId">
                <option *ngFor="let stages of academyStages" [value]="stages.stageId" >{{ stages.name }}</option>
              </select>
            </div>

            <div class="col-sm-6 form-group">
              <label>Location:</label>
              <select class="form-control input-sm" formControlName="cityId">
                <option *ngFor="let city of cityNames" [value]="city.itemId">{{city.trasnlation}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Start Date:</label>
              <input type="date" class="form-control input-sm" formControlName="startDateFormControl"/>
            </div>
            <div class="col-sm-6 form-group">
              <label>End Date:</label>
              <input type="date" class="form-control input-sm" formControlName="endDateFormControl"/>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <label class="radio-inline">
                <input type="radio" [value]="1" checked name="payment">Founded by SoftServe
              </label>
              <label class="radio-inline">
                <input type="radio" [value]="0" name="payment">Open Group
              </label>
            </div>
          </div>
        </ul>

        <ul class="col-sm-6 form-group" id="UL_right_column">

          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Common Direction:</label>
              <select class="form-control input-sm">
                <option value="0" [selected]="0"></option>
                <!--<option *ngFor="let direct of direction" [value]="direct.directionId">{{direct.name}}</option>-->
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Direction:</label>
              <select class="form-control input-sm" formControlName="technolgyId">
                <option selected value="0"></option>
                <option *ngFor="let tech of technologie" [value]="tech.technologyId">{{ tech.name }}</option>
              </select>
            </div>

            <div class="col-sm-6 form-group">
              <label>Profile:</label>
              <select class="form-control input-sm" formControlName="profileInfoFormControl">
                <option value="0"></option>
                <option *ngFor="let prof of profile | profileFilter:signupForm.get('technolgyId').value" [value]="prof.profileId">{{ prof.profileName }}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <label> Students Planned to Graduate:</label>
              <input type="number" class="form-control input-sm" formControlName="SCTGraduate" value={{defaultStudentsPlannedToGraduate}}/>
            </div>
            <div class="col-sm-4">
              <label> Students Planned to Enrollment:</label>
              <input type="number" class="form-control input-sm" formControlName="SCTEnrollment" value={{defaultStudentsPlannedToEnrollment}}/>
            </div>

            <div class="col-sm-4">
              <label>Students Actual:</label>
              <input type="number" class="form-control input-sm" disabled value={{defaultStudentActual}}/>
            </div>
          </div>
        </ul>
      </form>
    </div>
    <hr>
    <div class="row" id="saveGroupBtn" align="center">
      <button type="submit" class="btn btn-primary" (click)="saveGroup()" >Save Group
      </button>
    </div>
  </div>

  <div>
  </div>
</div>
