<div *ngFor="let report of itaTacticalPlanByGroupStageReports">
  <h1 align="center">{{report.name}}</h1>
  <table class="table table-condensed table-hover table-bordered table-responsive table-striped">

    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Group ID</th>
      <th>Group/Group feedbacks</th>
      <th>CG</th>
      <th>Profile</th>
      <th>Location</th>
      <th>#,requested</th>
      <th>#,study in progress</th>
      <th>#,graduated</th>
      <th>#,hired</th>
      <th>Group start Date</th>
      <th>Group finish Date</th>
      <th>Group status</th>
      <th>Trainer</th>
      <th>Comment</th>
      <th>Payment status</th>
    </tr>

    <ng-container *ngFor="let item of report.report">
      <tr>
        <td>{{item.startDate|date: "yyyy"}}</td>
        <td>{{item.startDate|date: "M"}}</td>
        <td>{{item.groupId}}</td>
        <td>{{item.groupName}}</td>
        <td>{{item.cg}}</td>
        <td>{{item.profile}}</td>
        <td>{{item.location}}</td>
        <td>{{item.requested}}</td>
        <td>{{item.studyInProgress}}</td>
        <td>{{item.graduated}}</td>
        <td>{{item.hired}}</td>
        <td>{{item.startDate|date: "dd/MM/yyyy"}}</td>
        <td>{{item.endDate|date: "dd/MM/yyyy"}}</td>
        <td>{{item.groupStatus}}</td>
        <td>{{item.trainer}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.paymentSatus}}</td>

      </tr>
    </ng-container>

  </table>
</div>

