
  <h1 align="center">List of planned launches of group (next 2 monthes)</h1>
  <table class="table table-condensed table-hover table-bordered table-responsive table-striped">

    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Group ID</th>
      <th>Group/Group feedbacks</th>
      <th>CG</th>
      <th>Profile</th>
      <th>Location</th>
      <th>#,requested</th>
      <th>#,study in progress</th>
      <th>#,graduated</th>
      <th>#,hired</th>
      <th>Group start Date</th>
      <th>Group finish Date</th>
      <th>Group status</th>
      <th>Trainer</th>
      <th>Comment</th>
      <th>Payment status</th>
    </tr>

    <ng-container *ngFor="let report of planedGroupForTwoMoth">
      <tr>
        <td>{{report.startDate|date: "yyyy"}}</td>
        <td>{{report.startDate|date: "M"}}</td>
        <td>{{report.groupId}}</td>
        <td>{{report.groupName}}</td>
        <td>{{report.cg}}</td>
        <td>{{report.profile}}</td>
        <td>{{report.location}}</td>
        <td>{{report.requested}}</td>
        <td>{{report.studyInProgress}}</td>
        <td>{{report.graduated}}</td>
        <td>{{report.hired}}</td>
        <td>{{report.startDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.endDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.groupStatus}}</td>
        <td>{{report.trainer}}</td>
        <td>{{report.comment}}</td>
        <td>{{report.paymentSatus}}</td>

      </tr>
    </ng-container>

  </table>

  <h1 align="center">In Process</h1>
  <table class="table table-condensed table-hover table-bordered table-responsive table-striped">

    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Group ID</th>
      <th>Group/Group feedbacks</th>
      <th>CG</th>
      <th>Profile</th>
      <th>Location</th>
      <th>#,requested</th>
      <th>#,study in progress</th>
      <th>#,graduated</th>
      <th>#,hired</th>
      <th>Group start Date</th>
      <th>Group finish Date</th>
      <th>Group status</th>
      <th>Trainer</th>
      <th>Comment</th>
      <th>Payment status</th>
    </tr>

    <ng-container *ngFor="let report of groupsInProces">
      <tr>
        <td>{{report.startDate|date: "yyyy"}}</td>
        <td>{{report.startDate|date: "M"}}</td>
        <td>{{report.groupId}}</td>
        <td>{{report.groupName}}</td>
        <td>{{report.cg}}</td>
        <td>{{report.profile}}</td>
        <td>{{report.location}}</td>
        <td>{{report.requested}}</td>
        <td>{{report.studyInProgress}}</td>
        <td>{{report.graduated}}</td>
        <td>{{report.hired}}</td>
        <td>{{report.startDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.endDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.groupStatus}}</td>
        <td>{{report.trainer}}</td>
        <td>{{report.comment}}</td>
        <td>{{report.paymentSatus}}</td>

      </tr>
    </ng-container>

  </table>
  <h1 align="center">Offering</h1>
  <table class="table table-condensed table-hover table-bordered table-responsive table-striped">

    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Group ID</th>
      <th>Group/Group feedbacks</th>
      <th>CG</th>
      <th>Profile</th>
      <th>Location</th>
      <th>#,requested</th>
      <th>#,study in progress</th>
      <th>#,graduated</th>
      <th>#,hired</th>
      <th>Group start Date</th>
      <th>Group finish Date</th>
      <th>Group status</th>
      <th>Trainer</th>
      <th>Comment</th>
      <th>Payment status</th>
    </tr>

    <ng-container *ngFor="let report of groupsOffering">
      <tr>
        <td>{{report.startDate|date: "yyyy"}}</td>
        <td>{{report.startDate|date: "M"}}</td>
        <td>{{report.groupId}}</td>
        <td>{{report.groupName}}</td>
        <td>{{report.cg}}</td>
        <td>{{report.profile}}</td>
        <td>{{report.location}}</td>
        <td>{{report.requested}}</td>
        <td>{{report.studyInProgress}}</td>
        <td>{{report.graduated}}</td>
        <td>{{report.hired}}</td>
        <td>{{report.startDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.endDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.groupStatus}}</td>
        <td>{{report.trainer}}</td>
        <td>{{report.comment}}</td>
        <td>{{report.paymentSatus}}</td>

      </tr>
    </ng-container>

  </table>
  <h1 align="center">Graduated</h1>
  <table class="table table-condensed table-hover table-bordered table-responsive table-striped">

    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Group ID</th>
      <th>Group/Group feedbacks</th>
      <th>CG</th>
      <th>Profile</th>
      <th>Location</th>
      <th>#,requested</th>
      <th>#,study in progress</th>
      <th>#,graduated</th>
      <th>#,hired</th>
      <th>Group start Date</th>
      <th>Group finish Date</th>
      <th>Group status</th>
      <th>Trainer</th>
      <th>Comment</th>
      <th>Payment status</th>
    </tr>

    <ng-container *ngFor="let report of groupsGraduated">
      <tr>
        <td>{{report.startDate|date: "yyyy"}}</td>
        <td>{{report.startDate|date: "M"}}</td>
        <td>{{report.groupId}}</td>
        <td>{{report.groupName}}</td>
        <td>{{report.cg}}</td>
        <td>{{report.profile}}</td>
        <td>{{report.location}}</td>
        <td>{{report.requested}}</td>
        <td>{{report.studyInProgress}}</td>
        <td>{{report.graduated}}</td>
        <td>{{report.hired}}</td>
        <td>{{report.startDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.endDate|date: "dd/MM/yyyy"}}</td>
        <td>{{report.groupStatus}}</td>
        <td>{{report.trainer}}</td>
        <td>{{report.comment}}</td>
        <td>{{report.paymentSatus}}</td>

      </tr>
    </ng-container>

  </table>
