<p-dataTable [value]="groupInfoTeachers" [editable]="true">
  <p-column field="employee.firstNameEng" header="First Name" [editable]="false"></p-column>
  <p-column field="employee.lastNameEng" header="Last Name" [editable]="false"></p-column>
  <p-column field="teacherType.name" header="Role" [editable]="false"></p-column>
  <p-column field="contributedHours" header="Contributed Hours" [editable]="true">
    <ng-template let-col let-groupInfoTeacher="rowData" pTemplate="editor">
      <input type="number" pInputText="" [(ngModel)]="groupInfoTeacher.contributedHours" [class]="'form-control'"
             required="true">
    </ng-template>
  </p-column>
  <span *ngIf="this.loginService.securityForAssignEmployee()">
  <p-column header="#" [editable]="false" [style]="{'width':'10em'}">
    <ng-template let-col let-groupInfoTeacher="rowData" pTemplate="body">
       <span>
        <a class="cur" (click)="removeEmployee(groupInfoTeacher)">Remove</a>
       </span>
    </ng-template>
  </p-column>
  </span>
</p-dataTable>

<button *ngIf="this.loginService.securityForAssignEmployee()" mat-raised-button color="primary"
        (click)="addEmployeeClick()">Add employee
</button>
<span>
<button *ngIf="this.loginService.securityForAssignEmployee()" mat-raised-button color="primary"
        (click)="updateEmployee()">Save</button>
</span>

<p-dialog header="Add employee" modal="false" [(visible)]="displayUsersList" [responsive]="true" width="480">
  <p-tabView>
    <p-tabPanel header="TEACHER" [(selected)]="selectedTeacher">
      <p-dataTable [value]="this.employeesTeacher" [(selection)]="selectedEmployee" dataKey="employeeId"
                   [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="firstNameEng" header="First Name" [filter]="true" [sortable]="true"></p-column>
        <p-column field="lastNameEng" header="Last Name" [filter]="true" [sortable]="true"></p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="EXPERT" [(selected)]="selectedExpert">
      <p-dataTable [value]="this.employeesExpert" [(selection)]="selectedEmployee" dataKey="employeeId"
                   [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="firstNameEng" header="First Name" [filter]="true" [sortable]="true"></p-column>
        <p-column field="lastNameEng" header="Last Name" [filter]="true" [sortable]="true"></p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="INTERVIEWER" [(selected)]="selectedInterviewer">
      <p-dataTable [value]="this.employeesInterviewer" [(selection)]="selectedEmployee" dataKey="employeeId"
                   [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="firstNameEng" header="First Name" [filter]="true" [sortable]="true"></p-column>
        <p-column field="lastNameEng" header="Last Name" [filter]="true" [sortable]="true"></p-column>
      </p-dataTable>
    </p-tabPanel>
  </p-tabView>

  <div class="myfootertable">
    <p-dataTable [value]="selectedEmployee" scrollable="true" scrollHeight="85px">
      <p-column field="firstNameEng" header="First Name"></p-column>
      <p-column field="lastNameEng" header="Last Name"></p-column>
      <p-column field="teacherType" header="Teacher Type"></p-column>
    </p-dataTable>
  </div>

  <button pButton type="button" (click)="cancelAddingClick()" label="Cancel" class="ui-button-secondary"
          style="margin-top: 1em; float: right"></button>

  <button pButton type="button" (click)="acceptEmployeesClick()" label="Assign" class="ui-button-success"
          style="margin-top: 1em; float: right"></button>
</p-dialog>
