<!--<p>-->
  <!--employee works!-->
  <!--<button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>-->
<!--</p>-->


<button mat-raised-button color="primary" (click)="addEmployeeClick()">Add employee</button>

<p-dialog header="Add employee" modal="false" [(visible)]="displayUsersList" [responsive]="true" width="480">
    <div class="ui-g myradio">
      <div class="row myradio1"><p-radioButton name="group2" value="TEACHER" label="Teacher" [(ngModel)]="value" inputId="preopt1"></p-radioButton></div>
      <div class="row myradio"><p-radioButton name="group2" value="EXPERT" label="Expert" [(ngModel)]="value" inputId="preopt2"></p-radioButton></div>
      <div class="row myradio"><p-radioButton name="group2" value="INTERVIEWER" label="Interviewer" [(ngModel)]="value" inputId="preopt3"></p-radioButton></div>
    </div>
  Selected Value = {{value||'none'}}

  <p-dataTable [value]="this.employees" [(selection)]="selectedEmployee" dataKey="employeeId"
               [paginator]="true" [rows]="10" [headerCheckboxToggleAllPages]="true" [rowsPerPageOptions]="[10,15]">
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <!--<p-column field="employeeId" header="id"></p-column>-->
    <p-column field="firstNameEng" header="firstNameEng" [filter]="true" [sortable]="true"></p-column>
    <p-column field="lastNameEng" header="lastNameEng" [filter]="true" [sortable]="true"></p-column>

    <p-footer>
      <p-dataTable [value]="selectedEmployee" scrollable="true" scrollHeight="70px">
        <p-column field="firstNameEng" header="firstNameEng"></p-column>
        <p-column field="lastNameEng" header="lastNameEng"></p-column>
      </p-dataTable>
    </p-footer>

  </p-dataTable>

    <button pButton type="button" (click)="cancelAddingClick()" label="Cancel" class="ui-button-secondary"
            style="margin-top: 1em; float: right"></button>

    <button pButton type="button" (click)="acceptEmployeesClick()" label="Accept" class="ui-button-success"
            style="margin-top: 1em; float: right"></button>
</p-dialog>
