<p-dataTable [value]="dataTable">
  <p-column field="academyName" header="Group name"></p-column>
  <p-column field="nameForSite" header="Name for site"></p-column>
  <p-column field="location" header="Location"></p-column>
  <p-column field="sartDate" header="Start Date"></p-column>
  <p-column field="endDate" header="End Date"></p-column>
  <p-column field="stage" header="Status"></p-column>
  <p-column field="direction" header="Common Direction"></p-column>
  <p-column field="modifyDate" header="Modify Date"></p-column>
  <p-column field="modifyBy" header="Modify by"></p-column>
</p-dataTable>
