table{
  font-size: 0.75em;
}

th {
  height: 175px;
  padding: 5px
}
th span {
  writing-mode: tb-rl
}

td {
  padding: 5px;
  text-align: center;
}

div {
  padding-left: 2%;
  padding-right: 2%;
}

button {
  padding: 0;
  width: 20px;
  height: 20px;
}

.cell1{
  width: 20px;
  height: 20px;
  background: lawngreen;
}

.cell0{
  background: deeppink;
}
