<div class="col-lg-12 well">
  <form>
    <h4>Add Feedback</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2 form-group">
            Learning ability
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="learnMark" name="learn" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:one">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{learnDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Overall technical competence
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="overallMark" name="overall" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:two">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{overallDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Passional initiative
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="passMark" name="pass" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:tree">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{passDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Team work
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="teamMark" name="team" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:four">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{teamDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Getting things done
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="getMark" name="get" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:five">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{getDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Active Communicator
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control input-sm" [(ngModel)]="actMark" name="act" (change)="onChoose()">
              <option *ngFor="let mark of marks | markFilter:six">{{mark.name}}</option>
            </select>
          </div>
          <div class="col-sm-7 form-group">
            {{actDesc}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            Summary
          </div>
          <div class="col-sm-10 form-group">
            <input type="text" placeholder="Summary"
                   class="form-control input-sm"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div align="button">
  <button type="submit" class="btn btn-primary" (click)="onSaveFeedback()">Save Feedback</button>
</div>
