<p-tabView (onChange)="feedback.onStudentsChange()">

  <p-tabPanel header="Students" [selected]="true">
    <app-students [groupId]="academyId" #appStud ></app-students>
  </p-tabPanel>

  <p-tabPanel header="Employee">
    <app-employee [groupId]="academyId"></app-employee>
  </p-tabPanel>

  <p-tabPanel header="History">
    <app-history-list [groupId]="academyId"></app-history-list>
  </p-tabPanel>

  <p-tabPanel header="Feedback" >
    <app-feedback-list #feedback [groupId]="academyId"></app-feedback-list>
  </p-tabPanel>

  <p-tabPanel header="Tests">
    <app-tests-names [groupId]="academyId" [studRef]="appStud"></app-tests-names>
  </p-tabPanel>

</p-tabView>


