.block {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

dx-load-indicator {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
}


