<div class="container-fluid">
  <table
    class="table table-condensed table-hover table-bordered table-responsive table-striped">
    <tr>
      <th rowspan="3">Name</th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
      <th colspan="7">Teacher Mark</th>
      <th colspan="7">Expert Mark</th>
      <th rowspan="3">HR Comment</th>
      <th rowspan="3">Interviewer Comment</th>
      <th rowspan="3">Intern. Test, Base</th>
      <th rowspan="3">Intern. Test, Lang</th>
      <th rowspan="3">Final, Lang</th>
      <th rowspan="3">Final, Base</th>
      <th rowspan="3">Teacher Scope</th>
      <th rowspan="3">Contact Date</th>
      <th rowspan="3">Contact Comment</th>
    </tr>

    <tr>
      <th colspan="2">Technical Result</th>
      <th colspan="4">Soft Skills</th>
      <th rowspan="2">Summary Comments</th>
      <th colspan="2">Technical Result</th>
      <th colspan="4">Soft Skills</th>
      <th rowspan="2">Summary Comments</th>
    </tr>

    <tr>
      <th>Learning ability</th>
      <th>Overall technical competence</th>
      <th>Passional initiative</th>
      <th>Team work</th>
      <th>Getting things done</th>
      <th>Active Communicator</th>

      <th>Learning ability</th>
      <th>Overall technical competence</th>
      <th>Passional initiative</th>
      <th>Team work</th>
      <th>Getting things done</th>
      <th>Active Communicator</th>

    <!--</tr>-->
      <!--<app-feedback-item-->
      <!--*ngFor="let student of students; let i = index"-->
      <!--[student]="student"-->
      <!--[index]="i"></app-feedback-item>-->
    <!--<tr>-->
    </tr>
  </table>

  <hr>
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<app-feedback-item-->
        <!--*ngFor="let student of students; let i = index"-->
        <!--[student]="student"-->
        <!--[index]="i"></app-feedback-item>-->
    <!--</div>-->
  <!--</div>-->
</div>
