<!--<div class="container" *ngIf="rForm">-->

  <!--<div class="center">-->
    <!--<form [formGroup]="rForm" *ngIf="tests; else error">-->
      <!--<div class="row">-->
        <!--&lt;!&ndash;<button class="col-sm-1-cust" mat-raised-button (click)="addTest();">Add test</button>&ndash;&gt;-->
        <!--<button class="btn btn-primary" mat-raised-button type="submit" [disabled]="!rForm.valid" (click)="save()">-->
          <!--Save-->
        <!--</button>-->
        <!--<button mat-raised-button (click)="cancelChanges();">Cancel</button>-->
        <!--<br><br>-->
      <!--</div>-->

      <!--<div class="row" style="text-align: center">-->
        <!--<div class="col-sm-6">Test Name</div>-->
        <!--<div class="col-sm-6">Max Point</div>-->
      <!--</div>-->
      <!--<div *ngIf="tests" formArrayName="testRows">-->
        <!--<div class="row" *ngFor="let item of rForm.controls.testRows.controls; let i = index;" [formGroupName]="i">-->

          <!--<mat-form-field *ngIf="item.get('removed').value != true" class="col-sm-6 col-sm-6-customize">-->
            <!--<input matInput id="testName{{i}}" type="text" name="test{{i}}" formControlName="testName">-->
            <!--<mat-error *ngIf="item">Please enter less than 50 symbols</mat-error>-->
          <!--</mat-form-field>-->

          <!--<mat-form-field *ngIf="item.get('removed').value != true" class="col-sm-6 col-sm-6-maxscore-customize">-->
            <!--<input matInput id="testMaxPoint{{i}}" type="number" name="testMaxScore{{i}}"-->
                   <!--formControlName="testMaxScore">-->
            <!--<mat-error *ngIf="item">Please enter number in range from 0 to 1000</mat-error>-->
          <!--</mat-form-field>-->

          <!--<button *ngIf="item.get('removed').value != true" class="col-sm-6 col-sm-6-button-custom" type="submit"-->
                  <!--mat-button (click)="removeDialog(i,item)">remove-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
    <!--<ng-template #error></ng-template>-->
  <!--</div>-->
<!--</div>-->


<div *ngIf="testRows">
  <div class="row">
    <button class="col-sm-1-cust" mat-raised-button (click)="add();">Add test</button>
    <button class="btn btn-primary" mat-raised-button type="submit" (click)="save()">Save</button>
    <button mat-raised-button (click)="cancelChanges();">Cancel</button>
    <br><br>
  </div>

  <p-dataTable [value]="testRows" [immutable]=false [editable]="true">
    <p-column *ngIf="removed!=true" field="testSequenceNum" header="#" [editable]="true">
      <ng-template let-col let-testRow="rowData" pTemplate="editor">
        <input type="number" pInputText="" [(ngModel)]="testRow.testSequenceNum" [class]="'form-control'"
               required="true" [min]="0" [max]="10" [exists]="testRows" #testSequenceNum="ngModel">
        <div *ngIf="testSequenceNum.invalid && (testSequenceNum.dirty || testSequenceNum.touched)"
             class="alert alert-danger" >
          <div *ngIf="testSequenceNum.errors.required">
            Name is required.
          </div>
          <div *ngIf="testSequenceNum.errors.min || testSequenceNum.errors.max">
            Test score must be between 0 and 10.
          </div>
          <div *ngIf="testSequenceNum.errors.exists">
            This number already exist.
          </div>

        </div>
      </ng-template>
    </p-column>

    <p-column *ngIf="removed!=true" field="testName" header="Test Name" [editable]="true">
      <ng-template let-col let-testRow="rowData" pTemplate="editor">
        <input type="text" pInputText="" [(ngModel)]="testRow.testName" [class]="'form-control'"
               required="true" maxlength="50" #testName="ngModel">
        <div *ngIf="testName.invalid && (testName.dirty || testName.touched)"
             class="alert alert-danger">
          <div *ngIf="testName.errors.pattern">
            Forbidden symbols
          </div>
          <div *ngIf="testName.errors.required">
            Name is required.
          </div>
          <div *ngIf="testName.errors.maxlength">
            Name must be not more then 50 symbols.
          </div>
        </div>
      </ng-template>
    </p-column>

    <p-column *ngIf="removed!=true" field="testMaxScore" header="Max Score" [editable]="true">
      <ng-template let-col let-testRow="rowData" pTemplate="editor">
        <input type="number" pInputText="" [(ngModel)]="testRow.testMaxScore" [class]="'form-control'"
               type="number" [min]="0" [max]="1000" pattern="^(0|[1-9][0-9]*)$" required="true"
               #testMaxScore="ngModel">
        <div *ngIf="testMaxScore.invalid && (testMaxScore.dirty || testMaxScore.touched)"
             class="alert alert-danger">
          <div *ngIf="testMaxScore.errors.pattern">
            forbidden symbols
          </div>
          <div *ngIf="testMaxScore.errors.required">
            Test score is required.
          </div>
          <div *ngIf="testMaxScore.errors.min || testMaxScore.errors.max">
            Test score must be between 0 and 1000.
          </div>
        </div>
      </ng-template>
    </p-column>
    <p-column *ngIf="removed!=true">
      <ng-template let-i="rowIndex" let-testRow="rowData" pTemplate="body">
          <button mat-raised-button (click)="removeDialog(i,testRow)">Remove</button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-dialog header="Removing test Name" modal="false" dismissableMask="false" [(visible)]="displayRemoveDialog"
          width="750">
  <div>
    <div *ngIf="currTest">
      <h3>Are you really want to remove {{currTest.testName}} from the
      test list?</h3>
    </div>
  </div>
  <button pButton type="button" (click)="cancelRemovingClick()" label="Cancel" class="ui-button-secondary"
          style="margin-top: 1em; float: right"></button>

  <button pButton type="button" (click)="removeTest()" label="Remove" class="ui-button-danger"
          style="margin-top: 1em; float: right"></button>
</p-dialog>


<p-dialog header="Invalid data" modal="false" dismissableMask="false" [(visible)]="displayValidationDialog"
          width="550">
  <div>
      <h3>You are trying to save invalid data. Check entered data again.</h3>
  </div>
  <button pButton type="button" (click)="okAndCLose()" label="OK!" class="ui-button-danger"
          style="margin-top: 1em; float: right"></button>
</p-dialog>


<p-dialog header="Saved sucessfully" modal="false" dismissableMask="false" [(visible)]="displaySavedDialog"
          width="550">
  <div>
    <h3>Saved sucessfully.</h3>
  </div>
  <button pButton type="button" (click)="okSaved()" label="OK!" class="ui-button-danger"
          style="margin-top: 1em; float: right"></button>
</p-dialog>
