<div class="col-lg-12 well">
  <form (ngSubmit)="onSave()" #feedbackForm="ngForm">
    <h4>Add Feedback</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="learningAbility">Learning ability</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="learningAbility"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="learnMark"-->
              <!--name="learningAbility"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:one">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{learnDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="overallTechCompetence">Overall technical competence</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="overallTechCompetence"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="overallMark"-->
              <!--name="overallTechCompetence"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:two">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{overallDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="passionalInitiative">Passional initiative</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="passionalInitiative"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="passMark"-->
              <!--name="passionalInitiative"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:tree">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{passDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="teamWork">Team work</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="teamWork"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="teamMark"-->
              <!--name="teamWork"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:four">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{teamDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="getThingsDone">Getting things done</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="getThingsDone"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="getMark"-->
              <!--name="getThingsDone"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:five">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{getDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="activeCommunicator">Active Communicator</label>
          </div>
          <div class="col-sm-3 form-group">
            <!--<select-->
              <!--id="activeCommunicator"-->
              <!--class="form-control input-sm"-->
              <!--[(ngModel)]="actMark"-->
              <!--name="activeCommunicator"-->
              <!--(change)="onChoose()">-->
              <!--<option *ngFor="let mark of marks | markFilter:six">{{mark.name}}</option>-->
            <!--</select>-->
          </div>
          <div class="col-sm-7 form-group">
            {{actDesc}}
          </div>
        </div>
<!---->
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="summary">Summary</label>
          </div>
          <div class="col-sm-10 form-group">
            <!--<input-->
              <!--type="text"-->
              <!--id="summary"-->
              <!--class="form-control input-sm"-->
              <!--ngModel-->
              <!--name="summary">-->
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Save Feedback</button>
  </form>
</div>
