  login works!
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="text" id="username"
             placeholder="Email" formControlName="username"
             [ngClass]="{'is-invalid': (loginForm.get('username').touched||loginForm.get('username').dirty)
                  &&loginForm.get('username').errors}" required>
      <input type="password" id="password"
             placeholder="Password" formControlName="password"
             [ngClass]="{'is-invalid':(loginForm.get('password').touched|| loginForm.get('password').dirty)
                  &&loginForm.get('password').errors}" required>
  <button type="submit">TRY</button>
  </form>
