<div class="container well contwidth">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="row">
          <mat-form-field class="col-sm-12">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>Username is required</mat-error>
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field class="col-sm-12">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>Password is required</mat-error>
          </mat-form-field>
      </div>
      <div class="row center-block mybtn">
          <!--<button type="submit" class="btn btn-primary col-sm-12">Log in</button>-->
          <button mat-raised-button color="primary" class="mymatbtn">Log in</button>
      </div>
    </form>
  <div *ngIf="error" class="myerror">
      <mat-error>
          Invalid input!
      </mat-error>
  </div>
</div>


