.dx-loadindicator-content {
  position: absolute;
  left: 50%;
  height: 50px;
  right: 50%;
}

.dx-loadindicator-content {
  width: 50px;
}

#buttons, ngx-datatable {
  margin-left: 10px;
  margin-right: 10px;
}

.input-fields{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

ngx-datatable {
  margin-top: 10px;
}

.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]), .mat-raised-button:not([class*=mat-elevation-z]) {
  background-color: #00B4D5;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  border: 1px solid #d6d6d6;
  background: #ebedf0;
  font-size: 13px;
  color: #555555;
  text-align: center;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  border: 1px solid #d6d6d6;
  text-align: center;
}









