<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body details-modal-content">
    <div class="col-xs-6">
      <h4>Personal Information:</h4>
      <div class="col-xs-6">
        <div>Id:</div>
        <div>Name:</div>
        <div>Age:</div>
        <div>Education:</div>
        <div>Strong Skills:</div>
      </div>
      <div class="col-xs-6">
        <div>{{student.id}}</div>
        <div>{{student.firstName + student.lastName}}</div>
        <div>{{student.age}}</div>
        <div>{{student.education}}</div>
        <div>{{student.strongSkills}}</div>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>Contact Information:</h4>
      <div class="col-xs-6">
        <div>Email:</div>
        <div>Messenger:</div>
        <div>Phone:</div>
        <div>Place Of Origin:</div>
      </div>
      <div class="col-xs-6">
        <div>{{student.email}}</div>
        <div>{{student.messenger}}</div>
        <div>{{student.phone}}</div>
        <div>{{student.placeOfOrigin}}</div>
      </div>
    </div>
  </div>
</div>
